<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}


	<script inline src='head.js'></script>

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
	
		{{> story/intro }}
		<div class='prelude prose'>
			{{#each doc.prelude}}
				<p>{{{value}}}</p>
			{{/each}}
		</div>
	
		{{!-- <section id='winners'>
			<div class='hed'>
				<h2>{{doc.hed1}}</h2>
				<p>{{doc.dek1}}</p>
				<p>{{doc.prize1}}</p>
			</div>
	
	
			<ul>
				{{#each doc.passion}}
					<li>
						<h3><a href='{{url}}' target='_blank'>{{title}}</a></h3>
						<p class='credit'>Credit: {{name}}</p>
						<a href='{{url}}' target='_blank'><img src='assets/img/{{img}}.jpg'></a>
						{{#each remarks}}
							<p>{{{value}}}</p>
						{{/each}}
					</li>
				{{/each}}
			</ul>
	
			<h3>{{doc.passionOtherHed}}</h3>
			<ul class='other'>
				{{#each doc.passionOther}}
					<li>
						<a href='{{url}}' target='_blank'>{{title}}</a></p>
					</li>
				{{/each}}
			</ul>
			<div class='hed'>
				<h2>{{doc.hed2}}</h2>
				<p>{{doc.dek2}}</p>
				<p>{{doc.prize2}}</p>
			</div>	
		</section> --}}
	
	
		<div class='prose details'>
			<ul>
				{{#each doc.details}}
				<li>{{{value}}}</li>
				{{/each}}
			</ul>
		</div>

		<p class='submit'>
			<a href='{{doc.submit}}' target='_blank'>Enter Now!</a>
		</p>

	
	
	</main>

	{{> base/footer }}


	<script src='{{basepath}}assets/scripts/d3.v5.11.0.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>